@model MyCourse.Models.Tutor;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/CourseAdmin/Views/Shared/_LayoutAdmin.cshtml";
}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Photo">Image</label>
        <input asp-for="Photo"accept="image/*" class="form-control" />
        <span asp-validation-for="Photo" class="text-danger"></span>

        <label asp-for="date">Tarix</label>
        <textarea asp-for="date" class="form-control"></textarea>
        <span asp-validation-for="date" class="text-danger"></span>

        <label asp-for="Head">Bashliq</label>
        <textarea asp-for="Head" class="form-control"></textarea>
        <span asp-validation-for="date" class="text-danger"></span>

        <label asp-for="content">Content</label>
        <textarea asp-for="content" class="form-control"></textarea>
        <span asp-validation-for="content" class="text-danger"></span>

    </div>
<input type="submit"class="btn btn-success btn-block"value="Create" />
</form>

<div class="row" style="margin-top:30px;">
    <div class="col-12">
        <a asp-action="Index" class="btn btn-primary btn-block">back to index</a>
    </div>
</div>

