@model Tutor
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/CourseAdmin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>
 <div class="container">
     <div class="row">
         <div class="col-12">
             <img class="img-thumbnail" src="~/images/@Model.image" />
         </div>
     </div>
 </div>
<div class="row">
    <div class="col-12">
        <a asp-action="Index" class="btn btn-primary btn-block" >back to index</a>
    </div>
</div>